# <center> Идентификация пользователей по посещенным веб-страницам
<img src='http://i.istockimg.com/file_thumbview_approve/21546327/5/stock-illustration-21546327-identification-de-l-utilisateur.jpg'>

# <center>Неделя 3. Визуальный анализ данных и построение признаков

## Programming Assignment 3. Проверка построенных признаков
Это задание скорее техническое, основная работа на этой неделе – предыдущее задание Peer-Review по визуализации данных и созданию признаков (так что если Вы его еще не делали – то приступите сначала к нему). Здесь смысл проверки в том, чтоб повысить шансы на то, что все мы одинаково создали признаки *session_timespan, time_diff1,..., time_diff9, #unique_sites, start_hour* и *day_of_week* в Peer-Review задании.

In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
def write_answer_to_file(answer, file_address):
    with open(file_address, 'w') as out_f:
        out_f.write(str(answer))

**Подгрузим DataFrame *new_features_10users* и *new_features_150users* с помощью сделанных ранее pickle-файлов.**

In [3]:
with open('new_features_10users.pkl', 'rb') as new_features_10users_pkl:
    new_features_10users = pickle.load(new_features_10users_pkl)
with open('new_features_150users.pkl', 'rb') as new_features_150users_pkl:
    new_features_150users = pickle.load(new_features_150users_pkl)

In [4]:
new_features_10users.head()

,time_diff1,time_diff2,time_diff3,time_diff4,time_diff5,time_diff6,time_diff7,time_diff8,time_diff9,session_timespan,#unique_sites,start_hour,day_of_week,target
0,273,3,28,916,-1523,10,0,0,1,1523,8,8,4,31
1,1,0,1,0,0,1,0,163,105,271,8,8,4,31
2,4,3,8,1,0,14,1,242,0,273,7,8,4,31
3,1,0,0,2,1,1,25,1,0,31,6,8,4,31
4,0,0,1,1,1,1,0,1,1,6,10,8,4,31

In [4]:
new_features_10users.head()

,time_diff1,time_diff2,time_diff3,time_diff4,time_diff5,time_diff6,time_diff7,time_diff8,time_diff9,session_timespan,#unique_sites,start_hour,day_of_week
0,273,3,28,916,-1523,10,0,0,1,1523,8,8,4
1,1,0,1,0,0,1,0,163,105,271,8,8,4
2,4,3,8,1,0,14,1,242,0,273,7,8,4
3,1,0,0,2,1,1,25,1,0,31,6,8,4
4,0,0,1,1,1,1,0,1,1,6,10,8,4

In [5]:
new_features_10users['session_timespan'].median()

55.0

**1. Запишите в файл *answer3_1.txt* медианную продолжительность сессии (*session_timespan*) для сессий 10 пользователей. Округлите, если надо.**

In [6]:
write_answer_to_file(new_features_10users['session_timespan'].median(), 'answer3_1.txt')

**2. Запишите в файл *answer3_2.txt* медианный день недели, в который началась сессия, для сессий 10 пользователей. Округлите, если надо.**

In [7]:
new_features_10users['day_of_week'].median()

2.0

In [8]:
write_answer_to_file(new_features_10users['day_of_week'].median(), 'answer3_2.txt')

**3. Запишите в файл *answer3_3.txt* медианный час начала сесии для сессий 150 пользователей. Округлите, если надо.**

In [9]:
new_features_150users['start_hour'].median()

13.0

In [10]:
write_answer_to_file(new_features_150users['start_hour'].median(), 'answer3_3.txt')

**4. Запишите в файл *answer3_4.txt* медианное значение разницы во времени между посещением 10-го и 9-го сайта для сессий 150 пользователей.**

In [11]:
new_features_150users['time_diff9'].median()

1.0

In [12]:
write_answer_to_file(new_features_150users['time_diff9'].median(), 'answer3_4.txt')